# Drawing Conclusions Quiz
Use the space below to explore `store_data.csv` to answer the quiz questions below.

In [ ]:
# Do your analysis and answer the following (type your answers !! do not throw the code in there and submit the file)

# Which store has the highest total sales for the final month of data? (store B)
# Which store makes the most sales on average? (store B)
# Which store sells the most during the week of March 13th, 2016? (store D)
# In what week does store C make its worst sales? 2014-07-06
# Which store has the most sales in the latest 3-month period? (store A)
# What is the most consistent store in sales ? (store D)
# Given the information you gathered, what do you think is the best store financially? (store D)

In [1]:
# import and load the data
import pandas as pd

df = pd.read_csv('store_data.csv')
df.info
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   week    200 non-null    object
 1   storeA  200 non-null    int64
 2   storeB  200 non-null    int64
 3   storeC  200 non-null    int64
 4   storeD  200 non-null    int64
 5   storeE  200 non-null    int64
dtypes: int64(5), object(1)
memory usage: 9.5+ KB

         week  storeA  storeB  storeC  storeD  storeE
0  2014-05-04    2643    8257    3893    6231    1294
1  2014-05-11    6444    5736    5634    7092    2907
2  2014-05-18    9646    2552    4253    5447    4736
3  2014-05-25    5960   10740    8264    6063     949
4  2014-06-01    7412    7374    3208    3985    3023

In [2]:
# explore the data (gather as much information as you can)

cols = df.columns[df.isna().any()].tolist()
#print(cols)      no missing values

sum(df.duplicated())  # no duplicates

0

In [3]:
# clean the data
#data is cleaned
df.describe()

             storeA        storeB       storeC       storeD       storeE
count    200.000000    200.000000   200.000000   200.000000   200.000000
mean    5865.480000   6756.710000  4942.105000  5431.405000  2580.025000
std     2958.230318   3601.339489  1325.407768  1183.111323  1725.651381
min      137.000000     14.000000   927.000000  2276.000000    39.000000
25%     3812.250000   3884.500000  4053.500000  4717.000000  1235.000000
50%     5713.500000   6771.000000  4962.500000  5382.000000  2522.000000
75%     7662.250000   9350.500000  5801.750000  6243.750000  3574.250000
max    14403.000000  15841.000000  8293.000000  8190.000000  7553.000000

In [10]:
# total sales for the last month
df['week'] = pd.to_datetime(df['week'])

last_month_sales = df[df['week'] >= df['week'].max() - pd.DateOffset(months = 1)].sum()
last_month_sales.sum()

C:\Users\ELmohannd\AppData\Local\Temp\ipykernel_12020\4048942678.py:4: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  last_month_sales = df[df['week'] >= df['week'].max() - pd.DateOffset(months = 1)].sum()

117717

In [8]:
# average sales
df.iloc[:, 1:].mean()

storeA    5865.480
storeB    6756.710
storeC    4942.105
storeD    5431.405
storeE    2580.025
dtype: float64

In [6]:
# sales on march 13, 2016
df['week'] = pd.to_datetime(df['week'])
dtime = pd.to_datetime('2016-03-13')
temp = df[df['week'] == dtime]
temp

         week  storeA  storeB  storeC  storeD  storeE
97 2016-03-13    2054    1390    5112    5513    2536

In [7]:
# worst week for store C
minimum = df['storeC'].min()
temp = df[df['storeC'] == minimum]
print(temp['week'])

9   2014-07-06
Name: week, dtype: datetime64[ns]

In [17]:
# total sales during most recent 3 month period
df['week'] = pd.to_datetime(df['week'])

last_month_sales = df[df['week'] >= df['week'].max() - pd.DateOffset(months = 3)].sum()
last_month_sales.sum()
# last_month_sales

C:\Users\ELmohannd\AppData\Local\Temp\ipykernel_12020\4173636238.py:4: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  last_month_sales = df[df['week'] >= df['week'].max() - pd.DateOffset(months = 3)].sum()

361293

In [ ]:
# Go back to the top and answer the questions